.header {
  border-bottom: 1px solid var(--grey-third-color);
  height: 75px;
}
.header-title {
  cursor: pointer;
  font-size: 1.75rem;
  font-weigth: bolder !important;
  color: var(--heading-one);
}
.form-control:focus {
  border-color: var(--second-color);
  box-shadow: var(--second-color);
}
.header-list-item {
  width: 10%;
  text-decoration: none;
  color: var(--grey-two-color);
  font-size: 1.1rem;
}
.header-left {
  color: var(--grey-two-color);
}
.btn-div {
  cursor: pointer;
  width: 75px;
}
@media only screen and (max-width: 600px) {
  .header-title {
    font-size: 1rem;
  }
  .header-title {
    padding-left: 1rem;
  }
}
